.divisioncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(53, 8, 255);
    width: stretch;
    align-items: center;
    justify-content: center;
}

.teamscontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.teamcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 10px;
    border: 1px solid rgb(66, 0, 247);
    width: 250px;
    align-items: center;
    justify-content: center;
}

.teamcontainer h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;
}

.playerscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
.playercontainer {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    align-items: center;
    justify-content: center;
  }
